div{
	width: 550px;
	font-family: helvetica, arial, sans-serif;
	border: 1px solid #f1f1f1;
	margin: 20px;
	padding: 20px;
}

section h4{
  color: #fff;
  background: #333;
  padding: 0.3em 0.5em;
  position: sticky;
  top: 0;
}

section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section ul li {
  padding: 0.3em 0.5em;
  border-bottom: 1px solid #ddd;
}

